@import "base";

.footer {
    background-color: $c_yellow;
    margin-top: 2*$base_line-height;
    padding: $base_line-height;

    a {
        background-color: $c_yellow;
        color: #fff;

        &:hover {
            color: $c_violet;
        }
    }
}